
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="js">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="blog-single.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="form-main">

                            <form class="form" method="post" action="mail/mail.php">
                                <div class="row">
                                    <div class="title">
                                        <h3>About US</h3>
                                    </div>
                                    <p>
                                        Dear buyer;

                                        <br><br> We, as three distinguished university friends, have established an internet shopping site and established
                                        this site with the aim of delivering the most natural and best products to the public at the most affordable price.

                                        <br><br>We will set out with the motto of Health at the beginning of everything, leave a mark on our world, which is
                                        experiencing disasters, and distribute beauty to humanity.

                                        <br><br> Hope you don't get lost in the beauty of our site.

                                        <br><br> Stay healthy and beautiful.

                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="single-head">
                            <img src="~/images/Us.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
