
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="js">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="blog-single.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="form-main">

                            <form class="form" method="post" action="mail/mail.php">
                                <div class="row">
                                    <img src="~/images/Call_US.jpeg" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="single-head">
                            <div class="single-info">
                                <div class="title">
                                    <h3>Get in touch</h3>
                                </div>
                                <i class="fa fa-phone"></i>
                                <h4 class="title">Call us Now:</h4>
                                <ul>
                                    <li>+90 5345282123</li>
                                    <li>+90 5435998161</li>
                                    <li>+90 5496414344</li>
                                </ul>
                            </div>
                            <div class="single-info">
                                <i class="fa fa-envelope-open"></i>
                                <h4 class="title">Email:</h4>
                                <ul>
                                    <li>damla.ulku@ceng.deu.edu.tr</li>
                                    <li>deniz.albayrak@ceng.deu.edu.tr</li>
                                    <li>mehmedcan.ozman@ceng.deu.edu.tr</li>
                                </ul>
                            </div>
                            <div class="single-info">
                                <i class="fa fa-location-arrow"></i>
                                <h4 class="title">Our Address:</h4>
                                <ul>
                                    <li>Kuruçeşme Mh. Deü Kaynaklar Yerleşkesi</li>
                                    <li> Buca/izmir </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>