
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#newyear" role="tab">New Year Colllections</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sets" role="tab">Sets</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gifts" role="tab">Gifts</a></li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="newyear" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/new1.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Women Hot Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/new2.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Awesome Pink Show</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/new3.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Awesome Bags Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/new4.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sets" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="~/images/set1.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Women Hot Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="~/images/set2.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Awesome Pink Show</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/set3.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Awesome Bags Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/set4.jpeg" alt="#">                                                    <span class="new">New</span>
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Women Pant Collectons</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="gifts" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/gift1.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Women Hot Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/gift2.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Awesome Pink Show</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/gift3.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Awesome Bags Collection</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="~/images/gift4.jpeg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">Women Pant Collectons</a></h3>
                                                <div class="product-price">
                                                    <span>$29.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="midium-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="/images/middle1.jpeg" alt="#">
                    <div class="content">
                        <a href="/Home/Catalog">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="~/images/middle2.jpeg" alt="#">
                    <div class="content">
                        <a href="/Home/Catalog" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to <span>our newsletter</span> to be informed about our opportunities.</p>
                        <form action="#" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Enter your email" required="" type="email">
                            <button class="btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>